.container{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#titel{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.container > ol{
    margin: 50px;
    grid-row: 2;
}