body{
    font-size: 1.25em;
}
article{
    border: 1px solid black;
    height: 300px;
    margin-bottom: 10px;
    background-color: beige;
    margin-left: 10px;
    margin-right: 10px;
}
article:nth-child(even) > p > img{
   float: right;
    padding-right: 10px;
}

article:nth-child(odd) > p > img{
    float: left ;
    padding-right: 10px;
}
article > h2{
    padding-left: 10px;
}

article > p{
    padding-left: 10px;
}