body{
    font-family: Helvetica;
    width: 960px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

header > img{
    width: 100%;
}

section{
    width: 640px;
    background-color: lightgrey;
    display: inline-block;
}

section > p{
    display: flex;
    width: 380px;
    padding-left: 20px;
}

#papaRoach{
    float: left;
    margin-left: 10px;
    width: 30%;
    height: 30%;
}

.zijbalk{
    padding:0;
    margin-top: 0px;
    height: 669px;
    background-color: lightgrey;
    float: right;
}

.zijbalk > p, h3{
    padding-left: 10px;
}

article{
    margin-bottom: -17px;
    background-color: lightgrey;
}

article > h1, p{
    padding-left: 10px;
}

section > h1, p{
    padding-left: 10px;
}

ul:nth-child(5) > li{
    color: deepskyblue;
    font-weight: bold;
    list-style-type: none;
    font-size: 20px;
}

h1{
    color: cyan;
}

@media screen and (max-width: 768px){
    .container{
        display: grid;
        grid-template-columns: auto;
        margin-right: auto;
        margin-left: auto;
        width: 700px;
        text-align: center;
    }

    #ploeg{
        width: 90%;
    }

    #papaRoach{
        width: 30%;
        height: 30%;
    }
}

