body{
    font-family: Helvetica;
    width: 960px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

header > img{
    width: 100%;
}

main{
    margin: 0;
    width: 700px;
}

section{
    background-color: lightgrey;
    display: inline-block;
}

section > p{
    display: flex;
    width: 400px;
    padding-left: 20px;
}

#papaRoach{
    float: left;
    width: 30%;
    height: 30%;
}

aside{
    margin-top: 22px;
    background-color: lightgrey;
    float: right;
}

article{
    background-color: lightgrey;
}

ul:nth-child(5) > li{
    color: deepskyblue;
    font-weight: bold;
    list-style-type: none;
    font-size: 20px;
}

h1{
    color: cyan;
}

@media screen and (max-width: 768px){
    aside{
        text-align: center;
        width: 41.5%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }

    .container{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }

    #ploeg{
        width: 90%;
    }

    #papaRoach{
        width: 30%;
        height: 30%;
    }
}

